@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container{
    margin: 0px 30px;
    width: 95%;
}

.navbar {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-style: normal;
    padding: 10px 0px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 15px;
    letter-spacing: 0px;
    background-color: #563d7c; /* Navbar background color */
}

/* Branding (Site Title) Styling */
.navbar-brand {
    color: #CBC3E3 !important;
    font-size: 25px;
}

/* Hover effect for navbar-brand */
.navbar-brand:hover {
    color: white !important;
}

/* Style for the navigation links */
.nav li a {
    color: #CBC3E3 !important; /* Default color for nav links */
}

/* Hover effect for the navigation links */
.nav li a:hover {
    color: white !important; /* Change color to white on hover */
}

/* Footer Section */
.footer-padding {
    padding-bottom: 60px;
}

.footer {
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #563d7c;/* Footer background color */
    margin-top: auto;
}

/* Footer Text */
.footer p {
    margin-top: 25px;
    font-size: 12px;
    color: #fff; /* White text in footer */
}

.divider{
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 20px 0;
    margin: 20px 0;
   
}

.item-heading{
    font-family: "Lato",sans-serif;
    font-weight: 700;
}

.item-text{
    font-family: "Lato",sans-serif;
    
}

.main{
    margin: 0 30px;
}
  